<!DOCTYPE html>
<html>
    <head>
        <title>Democracy FMI - списък с изборни</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="css/user-courses.css" rel="stylesheet">
        <script src="js/ejs.js"></script>
    </head>
    <body>
        <!-- Nav -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Democracy FMI</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Списък с дисциплини</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Съобщения</a></li>
                                    <li><a href="#">Справки</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Насторйки</li>
                                    <li><a href="#">Смяна на парола</a></li>
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                            <li><a href="/logout" title="Изход от профила">Изход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-body">
          <% include intro %>

            <!-- search -->
            <div class="control-group id-search">
                <form action="" method="get" class="form-search">
                    <div class="control-group inline">
                        <div class="controls">

                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-search"></i></span>
                                <input type="text" class="span3" placeholder="Търсене на дисциплина" id="filter">
                            </div>

                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-list"></i></span>
                                <select class="span3">
                                    <option selected="selected" value="0">Избор на група</option>
                                    <optgroup label="Групи">
                                        <option value="1">Д - Дидактика</option>
                                        <option value="2">И - Информатика</option>
                                        <option value="3">КПр - Компютърен практикум</option>
                                        <option value="4">М - Математика</option>
                                        <option value="5">ПМ - Приложна математика</option>
                                        <option value="6">С - Семинар</option>
                                        <option value="7">Х - Хуманитарни</option>
                                        <option value="8">ОКН - Основи на комп. науки</option>
                                        <option value="9">ЯКН - Ядро на комп. науки</option>
                                        <option value="10">Др - Други</option>
                                    </optgroup>
                                </select>
                            </div>

                            <button type="submit" class="btn">Търси</button>

                        </div>
                    </div>
                </form>
            </div>

            <!-- message -->
            <div class="bs-docs-example" id="id-list-5" style="display: none;">
                <div class="alert alert-success fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    Успешно записахте <strong>Анализ 1</strong>.
                </div>
            </div>

            <!-- message -->
            <div class="bs-docs-example" id="id-list-6" style="display: none;">
                <div class="alert alert-heading fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    Добавен сте на опашаката за <strong>Python</strong>.
                </div>
            </div>







            <!-- courses tab nav -->
            <ul class="nav nav-tabs" id="coursesTab">
                <li class="active"><a href="#not-enrolled">Незаписани</a></li>
                <li><a href="#queued">На опашката</a></li>
                <li><a href="#enrolled">Записани</a></li>
            </ul>

            <!-- courses tabs-->
            <div class="tab-content">
                <!-- not enrolled courses -->
                <div class="tab-pane active" id="not-enrolled">

                    <!-- list of not enrolled courses -->
                    <table class="id-list table table-hover">
                        <thead>
                            <tr>
                                <td>Дисциплина</td>
                                <td>Преподавател</td>
                                <td>Група</td>
                                <td>ECTS</td>
                                <td>Действие</td>
                            </tr>
                        </thead>
                        <tbody>
                        <% for (var i = 0; i < courses.length; ++i) { %>
                          <tr>
                            <td><a href="#" role="button" class="btn btn-link showDescription" data-toggle="modal"><%= courses[i].name %></a></td>
                            <% if (courses[i]._teacher) { %>
                                <td><%= courses[i]._teacher.name %></td>
                            <% } else { %>
                                <td>НЯМА</td>
                            <% } %>
                            <td><abbr title="Математика"><%= courses[i].group %></abbr></td>
                            <td><%= courses[i].ects %></td>
                            <td>
                                <a href="#" role="button" class="btn btn-danger unenroll" data-id="<%= courses[i]._id %>" style="display: <%= (statuses[i] == 'Enrolled') ? '' : 'none' %>">Отпиши</a>
                                <a href="#enroll-linux-sys-admin" role="button" class="btn btn-success showEnroll" data-toggle="modal" data-id="<%= courses[i]._id %>" style="display: <%= statuses[i] == 'Free positions' ? '' : 'none' %>">Запиши</a>
                                <a href="#" role="button" class="btn btn-warning enqueue" data-id="<%= courses[i]._id %>" style="display: <%= statuses[i] == 'Full' ? '' : 'none' %>">Нареди се на опашката</a>
                                <a href="#" role="button" class="btn btn-warning dequeue" disabled data-id="<%= courses[i]._id %>" style="display: <%= statuses[i] == 'You are in queue' ? '' : 'none' %>">В опашката си</a>
                            </td>
                          </tr>
                        <% } %>
                        <tr><td>// Hardcoded stuff starts here.</td></tr>
                            <tr class="error">
                                <td><a href="#linux-sys-admin" role="button" class="btn btn-link" data-toggle="modal">Python</a></td>
                                <td>unnamed</td>
                                <td><abbr title="Ядро на компютърните науки">ЯКН</abbr></td>
                                <td>6</td>
                                <td>
                                    <a href="#queued-linux-sys-admin" role="button" class="btn btn-warning" data-toggle="modal">Нареди се на опашката</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <!-- queued courses -->
                <div class="tab-pane" id="queued">

                    <div class="container span3">
                        <h3>Група 1</h3>
                        <table class="id-list table table-hover">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Дисциплина</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="warning">
                                    <td>1</td>
                                    <td><a href="#linux-sys-admin" role="button" class="btn btn-link" data-toggle="modal">МУИ</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                Избери действие
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Премести нагоре</a></li>
                                                <li><a href="#">Премести надолу</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Отпиши</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td>1</td>
                                    <td><a href="#linux-sys-admin" role="button" class="btn btn-link" data-toggle="modal">МУИ</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                Избери действие
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Премести нагоре</a></li>
                                                <li><a href="#">Премести надолу</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Отпиши</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="container span3">
                        <h3>Група 2</h3>
                        <table class="id-list table table-hover">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Дисциплина</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="warning">
                                    <td>1</td>
                                    <td><a href="#linux-sys-admin" role="button" class="btn btn-link" data-toggle="modal">МУИ</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                Избери действие
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Премести нагоре</a></li>
                                                <li><a href="#">Премести надолу</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Отпиши</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td>1</td>
                                    <td><a href="#linux-sys-admin" role="button" class="btn btn-link" data-toggle="modal">МУИ</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                Избери действие
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Премести нагоре</a></li>
                                                <li><a href="#">Премести надолу</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Отпиши</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- enrolled courses -->
                <div class="tab-pane" id="enrolled">

                    <!-- list of not enrolled courses -->
                    <table class="id-list table table-hover">
                        <thead>
                            <tr>
                                <td>Дисциплина</td>
                                <td>Преподавател</td>
                                <td>Група</td>
                                <td>ECTS</td>
                                <td>Действие</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td><a href="#linux-sys-admin" role="button" class="btn btn-link" data-toggle="modal">Линукс системно администриране</a></td>
                                <td>М. Маринов</td>
                                <td><abbr title="Ядро на компютърните науки">ЯКН</abbr></td>
                                <td>7</td>
                                <td>
                                    <button class="btn btn-danger" type="button">Отпиши</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal - course info -->
            <div id="info-linux-sys-admin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="linux-sys-adminLabel" aria-hidden="true">
            </div>

            <!-- reCAPTCHA -->
            <div style="display: none;">
                <div id="originalReCAPTCHA">
                    <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LdJ198SAAAAAKglPhg3C7ZVS0qaARtDMZl6-r2V"></script>
                    <noscript>
                    <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdJ198SAAAAAKglPhg3C7ZVS0qaARtDMZl6-r2V" height="300" width="500" frameborder="0"></iframe><br>
                    <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                    </textarea>
                    <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
                    </noscript>
                </div>
            </div>


            <!-- Modal - course queued -->
            <form action="" method="post">
                <div id="queued-linux-sys-admin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="linux-sys-adminLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Записване в опашката за курс</h3>
                    </div>


                    <div class="modal-body">
                        <p>За да се запишете в опашката за <strong>Python</strong>, добавете го в някоя група или саздадете нова.</p>
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-list"></i></span>
                            <select class="span3">
                                <option selected="selected" value="0">Избор на група</option>
                                <optgroup label="Групи">
                                    <option value="1">Група 1</option>
                                    <option value="2">Група 2</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-pencil"></i></span>
                            <input type="text" class="span3" placeholder="Име на нова група" data-provide="typeahead" data-items="4" data-source="[&quot;Линукс ситемно администриране&quot;,&quot;КГМ&quot;,&quot;СДП&quot;,&quot;ООП&quot;,&quot;Анализ 1&quot;,&quot;Анализ 2&quot;,&quot;ЕАИ&quot;,&quot;Pyhon&quot;,&quot;МУИ&quot;]">
                        </div>

                        <!-- reCAPTCHA -->
                        <div id="secondReCAPTCHA"></div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn">Отказ</a>
                        <a href="#" class="btn btn-warning">Нареди се на опашката</a>
                    </div>
                </div>
            </form>

            <footer>
                <p>&copy; HackFMI 2013</p>
            </footer>

        </div> <!-- container-body -->

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/user-courses.js"></script>
    </body>
</html>
